<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!--  Linking Skeleton CSS --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=="
    crossorigin="anonymous" />

  {{!--  Fontawesome link  --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  {{!--   Custome Style CSS --}}
  <link rel="stylesheet" href="/assets/css/buger_style.css">

  <title>Eat-Da-Burger</title>
  
  {{!--    jQuery and Javascript     --}}
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/js/burger.js"></script>
</head>
<body>

  {{{ body }}}

</body>
</html>
